*.class
**.project
**.classpath
**.settings
**target
**bin
**org.eclipse.osgi
**.war
**.jar
**.log
**.log.*
target/*
 metadata/data
.metadata
search.log*
**.svn
activemq-data
logs
.reviewboardrc
.idea/
**.iml
indexes**
/start.bat
indexes/
test-output
/target
